@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


*{
     font-family: "Outfit", sans-serif;
}
.font{
    font-family: 'Playfair';
}
::-webkit-scrollbar{
    display: none;
}